<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% for item in app.server.api_list %}
		<table>
			<tr>
				<td>{{ item.name }}</td>
				<td><a href="{{item.url}}">{{ item.url }}</a></td>
				<td>{{ item.methods }}</td>
				<td><a href="{{item.debugUrl}}">{{ item.debugUrl }}</a></td>
			</tr>
	{% endfor %}
</body>
</html>